<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>武汉房产网_武汉房产信息_武汉房地产-武汉易登网</title>
    <meta name="Description" content="武汉房产网为您提供大量武汉房产网信息，您可以免费查询房地产信息网,房产信息网,房产信息,房产交易网等信息，同时您可以免费发布武汉房产网信息。"/>
    <meta name="Keywords" content="武汉房产网, 房产网, 新房出售,租房,求租房,房地产信息网, 房产信息网, 房产信息, 免费房产信息, 武汉分类信息网"/>
    <meta name="mobile-agent" content="format=xhtml; url=http://wap.wuhan.edeng.cn/33/fang/"/>
    <meta name="mobile-agent" content="format=html5; url=http://m.wuhan.edeng.cn/33/fang/"/>
    <link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/home/index/css/list_home_fresh.css?ver=15523"/>
    <script type="text/javascript" src="http://img02.edeng.cn/js/blue/listing_blue.js?ver=15523"></script>

    <link rel="shortcut icon" href="http://img01.edeng.cn/images/favicon.ico" type="image/x-icon"/>

    <style>
        .head{width:100%; padding-bottom:20px;
            background: -webkit-linear-gradient(#fdfdfd, #f2f2f2);
            background: -o-linear-gradient(#fdfdfd, #f2f2f2);
            background: -moz-linear-gradient(#fdfdfd, #f2f2f2);
            background: linear-gradient(#fdfdfd, #f2f2f2);}
        .hot_label{ width: 970px; height: auto; float:left;margin: 0 auto; padding:10px 0 10px 0; -border: 1px solid #0000FF; }
        .hot_ul{ float: left;width: 970px; margin: 0 auto; padding-left: 5px;}
        .hot_ul li{ float: left; height: 100px; width: 230px; padding: 5px; transition: .3s all ease .0s;}
        .hot_ul .img{ display:block; width:100%; height:100%;background: #fb565d url(__PUBLIC__/home/index/images/2012/1.png) no-repeat right;}
        .hot_ul .img2{ display:block; width:100%; height:100%;background: #06d3e4 url(__PUBLIC__/home/index/images/2012/2.png) no-repeat right;}
        .hot_ul .img3{ display:block; width:100%; height:100%;background: #01a1ff url(__PUBLIC__/home/index/images/2012/3.png) no-repeat right;}
        .hot_ul .img4{ display:block; width:100%; height:100%;background: #a2c057 url(__PUBLIC__/home/index/images/2012/4.png) no-repeat right;}
        .hot_ul li:hover{transform: scale(1.2);background:rgba(209,209,209,0.6);}
        .hot_ul li a{ text-decoration: none; color: #ffffff; }
        .hot_ul li div{ font-size: 18px; -font-weight:bold;font-family: "微软雅黑";padding: 52px 0 2px 15px;}
        .hot_ul li p{ font-size: 12px; padding-left:15px;}

        .househp_infor{ overflow: hidden; padding: 0 2px 16px 2px;}

        .ad_right{border-radius:5px; width: 110px; height: auto; padding: 5px; background:rgba(211,229,244,0.5);; _position: absolute; right:2%;top:40%; position: fixed;}
        .ad_left{left:2%;}
        .ad_right .picbox{ width: 100%; height: 100px; margin-bottom: 5px; border: 1px solid #bdc6ce; position: relative;}
        .ad_right .pic{ text-align:center; color: #ffffff; line-height: 100px; display:none; width: 100%; height: 100%;background:rgba(200,224,243,0.8); position: absolute; top: 0; left: 0;}

        #text{ width:310px; line-height:24px; height:24px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

    </style>

</head>
<body id="listing">
<div class="site-nav">
    <div class="site-nav-w">
        <div class="city_left">
            <h2>武汉</h2>
            <span>[<a href="http://www.edeng.cn/map.html" target="_self">切换城市</a>]</span>
        </div>
        <div id="session_info" class="quickmenu_right"></div>
    </div>
</div>

<!--header S-->
<div class="head">
    <div class="s_list_hearder">
        <div class="s_list_header_top">
            <div class="s_list_left_logo">
                <a title="中国易登网" target="_self" href="http://www.edeng.cn/" class="left"
                                             id="s_list_logo">中国分类信息,免费发布信息网-中国易登网</a>
                <div id="s_list_edh1">
                    <h1><b>武汉房产网</b><br/>wuhan.edeng.cn</h1>
                </div>
            </div>
            <div class="right_search">
                <form style="margin:0;padding:0;" id="searchformheader" name="searchformheader"
                      onsubmit="HP.searchGo('searchformheader',true,1);return false;" method="get">
                    <div class="search_inside">
                        <div class="search_top_inside">
                            <input type="text" style="color:#999;" name="key_title" class="keyword" id="key_title"
                                   value="想找武汉分类信息？输入关键字试试">
                            <div onmouseout="HP.closePop('click_box')" onmouseover="HP.popSearch('click_box')"
                                 class="cateselect"><span id="click_btn" class="cateselect_root">房产</span>
                                <ul id="click_box" class="click_box" style="display:none;">
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="4">全职招聘</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="43">交友</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="11">二手市场</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="1">房产</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="28">便民服务</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="72">企业黄页</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="178">企业服务</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="50">生活服务</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="179">创业</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="107">宠物</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="101">兼职招聘</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="7">个人简历</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="32">教育培训</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="20">票务</a></li>
                                    <li><a href="javascript:;" onclick="HP.setVal(this)" id="13">车辆买卖</a></li>
                                </ul>
                            </div>
                            <input type="submit" onmouseover="this.className='submit_search2'"
                                   onmouseout="this.className='submit_search'" id="submit_search" class="submit_search"
                                   value="" title="搜索">
                        </div>
                    </div>
                </form>
                <!--发布-->
                <div id="" class="fabu_xiugai">
                    <a class="btn_post" target="_blank" href="{{:U('Article/add')}}" title="">免费发布信息</a>
                </div>

            </div>
        </div>
    </div>

    <div class="s_list_navigation">
        <a href="http://www.edeng.cn/">易登网</a> &gt; <a href="http://www.edeng.cn/13/fang/">房产网</a> &gt; <a href="33/fang/">武汉房产网</a>
    </div>

    <div class="househp_fenleiimg2"  style=" width:980px;margin: 0 auto;">
        <ul>
            <li>
                <!--类别 导航 S-->
                <volist name="categorys" id="category">
                    <a href="{{:U('Article/show', array('id'=>$category[id]))}}" title="新房" target="_blank" class="{{$category.arr_class}}">{{$category.name}}</a>
                </volist>
                <!--类别 导航 E-->
            </li>
        </ul>
    </div>

    <div class="househp_quicksearch" style="margin: 0 auto; margin-top: 10px;">
        <i class="househp_qcleft"></i>
        <div class="househp_qccenter">
            <form method="get" action="" name="searchformlist" onsubmit="DoSearchFresh(); return false;">
                <ul>
                    <li>
                        <select style="float:left;" name="cat_id" id="cat_id" onchange="hrefto(this);">
                            <option value="1">房产</option>
                            <option value="2600">新房|新楼盘</option>
                            <option value="2">租房</option>
                            <option value="3">房屋求租</option>
                            <option value="9">二手房</option>
                            <option value="113">合租房</option>
                            <option value="197">短租房|日租房</option>
                            <option value="166">商铺出租|转让</option>
                            <option value="67">写字楼</option>
                            <option value="68">厂房|仓库|土地</option>
                        </select>
                    </li>
                    <input name="tablename" id="tablename" type="hidden" value="rentext">
                    <li><select style="float:left;" name="extsearch_PRICE" id="ext_0">
                        <option value="">月租（元）</option>
                        <option value="P1">500元以下</option>
                        <option value="P2">500-1000元</option>
                        <option value="P3">1000-1200元</option>
                        <option value="P4">1200-1500元</option>
                        <option value="P5">1500-1800元</option>
                        <option value="P6">1800-2000元</option>
                        <option value="P7">2000-3000元</option>
                        <option value="P8">3000元以上</option>
                    </select></li>
                    <li><select style="float:left;" name="extsearch_BEDROOM" id="ext_1">
                        <option value="">居室</option>
                        <option value="B1">一居</option>
                        <option value="B2">二居</option>
                        <option value="B3">三居</option>
                        <option value="B4">四居</option>
                        <option value="B6">单间</option>
                        <option value="B7">床位</option>
                        <option value="B5">其他</option>
                    </select></li>
                    <li><select style="float:left;" name="extsearch_AGENCY" id="ext_2">
                        <option value="">是否中介</option>
                        <option value="A1">个人</option>
                        <option value="A2">经纪人</option>
                    </select></li>
                    <li><select style="float:left;" name="extsearch_SQUARE" id="ext_3">
                        <option value="">面积（平米）</option>
                        <option value="S1">40平米以下</option>
                        <option value="S2">41-60平米</option>
                        <option value="S3">61平米-80平米</option>
                        <option value="S4">81平米-100平米</option>
                        <option value="S5">101-120平米</option>
                        <option value="S6">121平米-140平米</option>
                        <option value="S7">141平米-160平米</option>
                        <option value="S8">161平米-180平米</option>
                        <option value="S9">180平米以上</option>
                    </select></li>
                    <li>
                        <input type="hidden" name="tocatid" id="tocatid" value="1"><input type="submit" value="" id="search_filter_submit" class="housesearchbg2" onmouseover="javascript:this.className=&quot;housesearchbg&quot;" onmouseout="javascript:this.className=&quot;housesearchbg2&quot;">
                    </li>
                </ul>
            </form>


        </div>
        <i class="househp_qcright"></i>
    </div>

</div>
<!--head E-->


    <div class="househp_center">

        <div class="househp_hotcity">
            <i class="househp_qcleft"></i>
            <div class="househp_hotcitycenter">
                <div class="house_search3 left">
                    <dl>
                        <dt>房产网地区切换</dt>
                        <dd class="list_cityhouse left">
                            <div id="v3_hotCity" class="v3_hotcity_class1"
                                 style="*_margin-left:2px;width:520px;*_width:530px;"><a title="武汉所有房产网">全武汉</a><a
                                    href="53/hankou/fang/" title="汉口房产网">汉口房产网</a><a href="53/wuchang/fang/"
                                                                                     title="武昌房产网">武昌房产网</a><a
                                    href="53/hanyang/fang/" title="汉阳房产网">汉阳房产网</a><a href="53/xinzhou/fang/"
                                                                                      title="新洲房产网">新洲房产网</a><a
                                    href="53/huangpi/fang/" title="黄陂房产网">黄陂房产网</a><a href="53/jiangxia/fang/"
                                                                                      title="江夏房产网">江夏房产网</a><a
                                    href="53/caidian/fang/" title="蔡甸房产网">蔡甸房产网</a><a href="53/hannan/fang/"
                                                                                      title="汉南房产网">汉南房产网</a><a
                                    href="53/dongxihu/fang/" title="东西湖区房产网">东西湖区房产网</a><a href="53/hongshan/fang/"
                                                                                           title="洪山房产网">洪山房产网</a><a
                                    href="53/qingshan/fang/" title="青山房产网">青山房产网</a><a href="53/qiaokou/fang/"
                                                                                       title="硚口房产网">硚口房产网</a><a
                                    href="53/jianghan/fang/" title="江汉房产网">江汉房产网</a><a href="53/jiangan/fang/"
                                                                                       title="江岸房产网">江岸房产网</a><a
                                    href="53/wuhanzhoubian/fang/" title="武汉周边房产网">武汉周边房产网</a><a
                                    href="javascript:void(0);"
                                    onClick="window.open('http://www.edeng.cn/map.html');">更多</a>
                                <div class="v3_hotcity_close"><a href="javascript:duo(0,3); void(0);">关闭</a></div>
                            </div>
                            <div class="v3_hotcity_more"><a href="javascript:duo(1,3);" id="gd_none"
                                                            ondblclick="window.open('http://www.edeng.cn/map.html');">更多&raquo;</a>
                            </div>
                        </dd>
                        <dd class="bjcity_right2"><a href="http://www.edeng.cn/map.html" target="_blank"
                                                     title="切换地区">切换地区</a></dd>
                    </dl>
                </div>
            </div>
            <i class="househp_qcright"></i>
        </div>

        <div class="hot_label">
            <ul class="hot_ul">
                <li>
                    <a href="" class="img">
                        <div>我要租房</div>
                        <p>约吗？我是你的专属顾问</p>
                    </a>
                </li>
                <li>
                    <a href="" class="img2">
                    <div>我要租房</div>
                    <p>约吗？我是你的专属顾问</p>
                </a>
                </li>
                <li>
                    <a href="" class="img3">
                        <div>我要租房</div>
                        <p>约吗？我是你的专属顾问</p>
                    </a>
                </li>
                <li>
                    <a href="" class="img4">
                        <div>我要租房</div>
                        <p>约吗？我是你的专属顾问</p>
                    </a>
                </li>
            </ul>
        </div>

        <!--租房 s-->
        <div class="househp_infor">
            <h2><span class="h2_more">
	        <a href="33/zufang/" target="_blank">更多&raquo;</a>	</span>
                <a href="33/zufang/" target="_blank" title="武汉租房">武汉租房</a> <b>&raquo;</b>
            </h2>
            <!--最新一条 S-->
            <dl style="padding:5px;">
                <dd class="house_img2">
                <span>
                    <a href="{{:U('article/showone', array('id'=>$new[id]))}}" target="_blank" title="">
                        <img src="{{$new.thumb}}" width="90" height="60" alt=""/>
                    </a>
                </span>
                </dd>
                <dd class="houseinfor_title2">
                    <h4>
                        <a href="{{:U('article/showone', array('id'=>$new[id]))}}" target="_blank" title="">
                            {{$new.money}}元/{{$new.room}}/{{$new.title}}
                        </a>
                    </h4>
                    <p class="house_address">湖北 - 武汉 - {{$new.area}} - {{$new.address}}</p>
                    <label class="houseinfoshuxing">
                        <i class="house_time2">16小时以前</i>
                        <b class="househp_jiage"><label>{{$new.money}}</label>元</b>
                        <b class="househp_jushi">{{$new.room}}</b>
                    </label>
                </dd>
            </dl>
            <!--最新一条 E-->

            <div class="houseinfobg">
                <!--所有租房信息 S-->
                <volist name="articles" id="article">
                <dl class="inforhp">
                    <dd class="househpinfor">
                        <a href="{{:U('article/showone', array('id'=>$article[id]))}}" target="_blank" title="{{$article.title}}">{{$article.title}}</a>
                    </dd>
                    <dd class="househp_jiage"><label>{{$article.money}}</label>元</dd>
                    <dd class="househp_jushi">{{$article.room}}</dd>
                </dl>
                </volist>
                <!--所有租房信息 S-->
            </div>
        </div>
        <!--租房 E-->

        <!--新房 S-->
        <div class="househp_infor" style=" margin-right:0px;">
            <h2><span class="h2_more">
    		<a href="33/ershoufang/" target="_blank">更多&raquo;</a>    		</span>
                <a href="33/ershoufang/" target="_blank" title="武汉新房">武汉新房</a> <b>&raquo;</b></h2>
            <!--最新一条 S-->
            <dl style="padding:5px;">
                <dd class="house_img2">
                <span>
                    <a href="{{:U('article/showone', array('id'=>$newxf[id]))}}" target="_blank" title="">
                        <img src="{{$newxf.thumb}}" width="90" height="60" alt=""/>
                    </a>
                </span>
                </dd>
                <dd class="houseinfor_title2">
                    <h4>
                        <a href="{{:U('article/showone', array('id'=>$newxf[id]))}}" target="_blank"
                           title="">{{$newxf.money}}万元/{{$newxf.room}}/{{$newxf.size}}平米/{{$newxf.title}}</a>
                    </h4>
                    <p class="house_address">湖北 - 武汉 - {{$newxf.area}} - {{$newxf.address}}</p>
                    <label class="houseinfoshuxing">
                        <i class="house_time2">22小时以前</i>
                        <b class="househp_jiage"><label>{{$newxf.money}}</label>万元</b>
                        <b class="househp_jushi"></b>
                    </label>
                </dd>
            </dl>
            <!--最新一条 E-->
            <div class="houseinfobg">
                <!--所有新房 s-->
                <volist name="xfs" id="xf">
                <dl class="inforhp">
                    <dd class="househpinfor" id="text">
                        <a href="#" target="_blank" title="">{{$xf.money}}万元/{{$xf.room}}/{{$xf.size}}平米/{{$xf.title}}</a>
                    </dd>
                    <dd class="househp_jiage"><label>{{$xf.money}}</label>万元</dd>
                    <dd class="househp_jushi"></dd>
                </dl>
                </volist>
                <!--所有新房 E-->

            </div>
        </div>
        <!--新房 E-->

        <div class="househp_infor">
            <h2><span class="h2_more"><a href="33/hezu/" target="_blank">更多&raquo;</a>    		</span>
                <a href="33/hezu/" target="_blank" title="武汉合租房">武汉合租房</a> <b>&raquo;</b></h2>
            <dl style="padding:5px;">
                <dd class="house_img2">
                <span><a href="http://shanghai.edeng.cn/jiedaoxinxi/237835920.html" target="_blank"
                         title="有房招租/2800元/一居 好房超级装修.3900一个月。超级划算东昌地铁站"><img
                        src="http://imgcdn.edeng.cn/uimages/7/59/20/234410226.jpg@!s" width="90" height="60"
                        alt=""/></a></span>
                </dd>
                <dd class="houseinfor_title2">
                    <h4><a href="http://shanghai.edeng.cn/jiedaoxinxi/237835920.html" target="_blank"
                           title="有房招租/2800元/一居 好房超级装修.3900一个月。超级划算东昌地铁站">有房招租/2800元/一居 好房超级装修.3...</a></h4>
                    <p class="house_address">上海 - 浦东 - 梅园</p>
                    <label class="houseinfoshuxing">
                        <i class="house_time2">10小时以前</i>
                        <b class="househp_jiage"><label>2800</label>元</b>
                        <b class="househp_jushi"></b>
                    </label>
                </dd>
            </dl>
            <div class="houseinfobg">
                <dl class="inforhp">
                    <dd class="househpinfor"><a href="http://shanghai.edeng.cn/jiedaoxinxi/237844114.html"
                                                target="_blank"
                                                title="有房招租/2500元/一居 店长推荐！你还住在朋友家吗？20平米梅园二街坊可提">有房招租/2500元/一居
                        店长推荐！你还住...</a></dd>
                    <dd class="househp_jiage"><label>2500</label>元</dd>
                    <dd class="househp_jushi"></dd>
                </dl>

            </div>
        </div>
        <div class="househp_infor" style=" margin-right:0px;">
            <h2><span class="h2_more">
    	<a href="33/shangpu/" target="_blank">更多&raquo;</a>    		</span>
                <a href="33/shangpu/" target="_blank" title="武汉商铺出租|转让">武汉商铺出租|转让</a> <b>&raquo;</b></h2>
            <dl style="padding:5px;">
                <dd class="house_img2">
                <span><a href="jiedaoxinxi/237833563.html" target="_blank" title="22000元/100平米 武汉徐东东原时光道地铁旺铺火爆招商中"><img
                        src="http://imgcdn.edeng.cn/uimages/7/38/63/234407039.jpg@!s" width="90" height="60"
                        alt=""/></a></span>
                </dd>
                <dd class="houseinfor_title2">
                    <h4><a href="jiedaoxinxi/237833563.html" target="_blank" title="22000元/100平米 武汉徐东东原时光道地铁旺铺火爆招商中">22000元/100平米
                        武汉徐东东原时光道...</a></h4>
                    <p class="house_address">湖北 - 武汉 - 武昌 - 徐东</p>
                    <label class="houseinfoshuxing">
                        <i class="house_time2">11小时以前</i>
                        <b class="househp_jiage"><label>22000</label>元</b>
                        <b class="househp_jushi"></b>
                    </label>
                </dd>
            </dl>
            <div class="houseinfobg">
                <dl class="inforhp">
                    <dd class="househpinfor"><a href="jiedaoxinxi/237735580.html" target="_blank"
                                                title="22000元/100平米 武汉徐东东原时光道地铁旺铺火爆招商中">22000元/100平米 武汉徐东东原时光道...</a>
                    </dd>
                    <dd class="househp_jiage"><label>22000</label>元</dd>
                    <dd class="househp_jushi"></dd>
                </dl>

            </div>
        </div>
        <div class="househp_infor">
            <h2><span class="h2_more">
				<a href="33/rizufang/" target="_blank">更多&raquo;</a>    		</span>
                <a href="33/rizufang/" target="_blank" title="武汉短租房|日租房">武汉短租房|日租房</a> <b>&raquo;</b></h2>
            <dl style="padding:5px;">
                <dd class="house_img2">
                <span><a href="jiedaoxinxi/234855475.html" target="_blank" title="9元每天/三居 近武昌火车站中南路地铁4号线梅苑小区站旁情怀公寓"><img
                        src="http://imgcdn.edeng.cn/uimages/7/59/75/230174589.jpg@!s" width="90" height="60"
                        alt=""/></a></span>
                </dd>
                <dd class="houseinfor_title2">
                    <h4><a href="jiedaoxinxi/234855475.html" target="_blank" title="9元每天/三居 近武昌火车站中南路地铁4号线梅苑小区站旁情怀公寓">9元每天/三居
                        近武昌火车站中南路地铁4号线...</a></h4>
                    <p class="house_address">湖北 - 武汉 - 武昌 - 中南路</p>
                    <label class="houseinfoshuxing">
                        <i class="house_time2">3月24日</i>
                        <b class="househp_jiage"><label>9</label>元</b>
                        <b class="househp_jushi">三居</b>
                    </label>
                </dd>
            </dl>
            <div class="houseinfobg">
                <dl class="inforhp">
                    <dd class="househpinfor"><a href="jiedaoxinxi/234735887.html" target="_blank"
                                                title="9元每天/三居 地铁口情怀公寓距离武昌火车站中南路100米">9元每天/三居 地铁口情怀公寓距离武昌火车站...</a></dd>
                    <dd class="househp_jiage"><label>9</label>元</dd>
                    <dd class="househp_jushi">三居</dd>
                </dl>

            </div>
        </div>
        <div class="househp_infor" style=" margin-right:0px;">
            <h2><span class="h2_more">
<a href="33/changfang/" target="_blank">更多&raquo;</a>    	</span>
                <a href="33/changfang/" target="_blank" title="武汉厂房|仓库|土地">武汉厂房|仓库|土地</a> <b>&raquo;</b></h2>
            <dl style="padding:5px;">
                <dd class="house_img2">
                <span><a href="jiedaoxinxi/237765329.html" target="_blank" title="友芝友仓库招租,平库OR楼库，总有一款适合你！"><img
                        src="http://imgcdn.edeng.cn/uimages/7/62/29/234290915.jpg@!s" width="68" height="60"
                        alt=""/></a></span>
                </dd>
                <dd class="houseinfor_title2">
                    <h4><a href="jiedaoxinxi/237765329.html" target="_blank" title="友芝友仓库招租,平库OR楼库，总有一款适合你！">友芝友仓库招租,平库OR楼库，总有一款适合你！</a>
                    </h4>
                    <p class="house_address">湖北 - 武汉 - 东西湖区 - 金银湖</p>
                    <label class="houseinfoshuxing">
                        <i class="house_time2">23小时以前</i>
                        <b class="househp_jiage"><label>面议</label></b>
                        <b class="househp_jushi"></b>
                    </label>
                </dd>
            </dl>
            <div class="houseinfobg">
                <dl class="inforhp">
                    <dd class="househpinfor"><a href="jiedaoxinxi/237680723.html" target="_blank"
                                                title="友芝友优质仓库、厂房出租，可分割！">友芝友优质仓库、厂房出租，可分割！</a>
                    </dd>
                    <dd class="househp_jiage"><label>面议</label></dd>
                    <dd class="househp_jushi"></dd>
                </dl>

            </div>
        </div>


        <div class="seofenlei seobj" style="margin-top: 6px;">
            <ul>
                <li><a href="33/zufang/" title="武汉租房" target="_blank">武汉租房</a></li>
                <li><a href="33/fangwuqiuzu/" title="武汉求租房" target="_blank">武汉求租房</a></li>
                <li><a href="33/ershoufang/" title="武汉二手房网" target="_blank">武汉二手房网</a></li>
                <li><a href="33/hezu/" title="武汉合租房" target="_blank">武汉合租房</a></li>
                <li><a href="33/rizufang/" title="武汉日租房" target="_blank">武汉日租房</a></li>
                <li><a href="33/shangpu/" title="武汉商铺出租" target="_blank">武汉商铺出租</a></li>
                <li><a href="33/xiezilouwang/" title="武汉写字楼" target="_blank">武汉写字楼</a></li>
                <li><a href="33/changfang/" title="武汉厂房出租" target="_blank">武汉厂房出租</a></li>
                <li><a href="http://beijing.edeng.cn/33/fang/" title="北京房产网" target="_blank">北京房产网</a></li>
                <li><a href="http://shanghai.edeng.cn/33/fang/" title="上海房产网" target="_blank">上海房产网</a></li>
                <li><a href="http://shenzhen.edeng.cn/33/fang/" title="深圳房产网" target="_blank">深圳房产网</a></li>
                <li><a href="http://guangzhou.edeng.cn/33/fang/" title="广州房产网" target="_blank">广州房产网</a></li>
                <li><a href="http://nanjing.edeng.cn/33/fang/" title="南京房产网" target="_blank">南京房产网</a></li>
                <li><a href="http://chengdu.edeng.cn/33/fang/" title="成都房产网" target="_blank">成都房产网</a></li>
                <li><a href="http://shijiazhuang.edeng.cn/33/fang/" title="石家庄房产网" target="_blank">石家庄房产网</a></li>
                <li><a href="http://dalian.edeng.cn/33/fang/" title="大连房产网" target="_blank">大连房产网</a></li>
                <li><a href="http://shenyang.edeng.cn/33/fang/" title="沈阳房产网" target="_blank">沈阳房产网</a></li>
                <li><a href="http://qingdao.edeng.cn/33/fang/" title="青岛房产网" target="_blank">青岛房产网</a></li>
                <li><a href="53/huangpi/fang/" title="黄陂房产网" target="_blank">黄陂房产网</a></li>
                <li><a href="53/xinzhou/fang/" title="新洲房产网" target="_blank">新洲房产网</a></li>
                <li><a href="53/hanyang/fang/" title="汉阳房产网" target="_blank">汉阳房产网</a></li>
                <li><a href="53/wuchang/fang/" title="武昌房产网" target="_blank">武昌房产网</a></li>
                <li><a href="53/hankou/fang/" title="汉口房产网" target="_blank">汉口房产网</a></li>
            </ul>
        </div>
        <div class="seofenlei seobj">
            <ul>
                <li><a href="s/ershoufang-291322/" target="_blank" class="link">武汉二手房</a></li>
                <li><a href="s/wangpu-291655/" target="_blank" class="link">武汉旺铺</a></li>
                <li><a href="s/duanzugongyu-291988/" target="_blank" class="link">武汉短租公寓</a></li>
                <li><a href="s/dixiashi-292321/" target="_blank" class="link">武汉地下室出租</a></li>
                <li><a href="s/bangongshi-292654/" target="_blank" class="link">武汉办公室出租</a></li>
            </ul>
        </div>
        <div class="seofenlei seobj">
            <h3>武汉房产网频道介绍</h3>
            <p>武汉房产网是武汉地区最大的房产网，本站有最新的武汉房产信息免费查询，您可以免费发布武汉房产信息，感谢您选择武汉房产网。</p>
        </div>

        <div class="ad_right">
            <div class="picbox">广告位<div class="pic">嗦嘎</div></div>
            <div class="picbox">广告位<div class="pic">嗦嘎</div></div>
            <div class="picbox">广告位<div class="pic">嗦嘎</div></div>
        </div>

        <div class="ad_right ad_left">
            <div class="picbox">广告位<div class="pic">嗦嘎</div></div>
            <div class="picbox">广告位<div class="pic">嗦嘎</div></div>
            <div class="picbox">广告位<div class="pic">嗦嘎</div></div>
        </div>

        <script src="__PUBLIC__/assets/js/jquery-2.2.2.min.js"></script>
        <script>
            $(function(){
                $(".picbox").hover(function(){
                    $(this).children(".pic").stop(true).slideDown(600);
                },function(){
                    $(this).children(".pic").stop(true).slideUp(600);
                });
            });
        </script>

</body>
</html>

