<extend name="Application/Admin/View/Layouts/admin.html"/>
<block name="css">
    <style>
        #page2 {
            display: none;
        }
    </style>
</block>

<block name="content">

    <div class="row">
        <div class="col-sm-12">
            <h1>文件管理</h1>
        </div>

        <div class="col-sm-10">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">文件管理</h3>
                    </div>
                    <div class="panel-body">
                        <div id="ckfinder"></div>

                    </div>
                </div>

            </div>

            <div class="col-sm-2">111
                <!--<div class="list-group">-->
                    <!--<a href="#" class="list-group-item list-group-item-success">-->
                        <!--新增-->
                    <!--</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-warning">删除</a>-->
                <!--</div>-->
            </div>
        </div>


    </div>
</block>

<block name="js">
    <script type="text/javascript" src="__PUBLIC__/assets/js/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        (function()
        {
            var config = {};
            var get = CKFinder.tools.getUrlParam;
            var getBool = function( v )
            {
                var t = get( v );

                if ( t === null )
                    return null;

                return t == '0' ? false : true;
            };

            var tmp;
            if ( tmp = get( 'configId' ) )
            {
                var win = window.opener || window;
                try
                {
                    while ( ( !win.CKFinder || !win.CKFinder._.instanceConfig[ tmp ] ) && win != window.top )
                        win = win.parent;

                    if ( win.CKFinder._.instanceConfig[ tmp ] )
                        config = CKFINDER.tools.extend( {}, win.CKFinder._.instanceConfig[ tmp ] );
                }
                catch(e) {}
            }

            if ( tmp = get( 'basePath' ) )
                CKFINDER.basePath = tmp;

            if ( tmp = get( 'startupPath' ) || get( 'start' ) )
                config.startupPath = decodeURIComponent( tmp );

            config.id = get( 'id' ) || '';

            if ( ( tmp = getBool( 'rlf' ) ) !== null )
                config.rememberLastFolder = tmp;

            if ( ( tmp = getBool( 'dts' ) ) !== null )
                config.disableThumbnailSelection = tmp;

            if ( tmp = get( 'data' ) )
                config.selectActionData = tmp;

            if ( tmp = get( 'tdata' ) )
                config.selectThumbnailActionData = tmp;

            if ( tmp = get( 'type' ) )
                config.resourceType = tmp;

            if ( tmp = get( 'skin' ) )
                config.skin = tmp;

            if ( tmp = get( 'langCode' ) )
                config.language = tmp;

            if ( typeof( config.selectActionFunction ) == 'undefined' )
            {
                // Try to get desired "File Select" action from the URL.
                var action;
                if ( tmp = get( 'CKEditor' ) )
                {
                    if ( tmp.length )
                        action = 'ckeditor';
                }
                if ( !action )
                    action = get( 'action' );

                var parentWindow = ( window.parent == window ) ? window.opener : window.parent;
                switch ( action )
                {
                    case 'js':
                        var actionFunction = get( 'func' );
                        if ( actionFunction && actionFunction.length > 0 )
                            config.selectActionFunction = parentWindow[ actionFunction ];

                        actionFunction = get( 'thumbFunc' );
                        if ( actionFunction && actionFunction.length > 0 )
                            config.selectThumbnailActionFunction = parentWindow[ actionFunction ];
                        break ;

                    case 'ckeditor':
                        var funcNum = get( 'CKEditorFuncNum' );
                        if ( parentWindow['CKEDITOR'] )
                        {
                            config.selectActionFunction = function( fileUrl, data )
                            {
                                parentWindow['CKEDITOR'].tools.callFunction( funcNum, fileUrl, data );
                            };

                            config.selectThumbnailActionFunction = config.selectActionFunction;
                        }
                        break;

                    default:
                        if ( parentWindow && parentWindow['FCK'] && parentWindow['SetUrl'] )
                        {
                            action = 'fckeditor' ;
                            config.selectActionFunction = parentWindow['SetUrl'];

                            if ( !config.disableThumbnailSelection )
                                config.selectThumbnailActionFunction = parentWindow['SetUrl'];
                        }
                        else
                            action = null ;
                }
                config.action = action;
            }

            // Always use 100% width and height when nested using this middle page.
            config.width = config.height = '100%';

            var ckfinder = new CKFinder( config );
            ckfinder.replace( 'ckfinder', config );
        })();
        //]]>
    </script>
</block>